$color-1: #ffe1d1;
$color-2: #ffdbca;

// :root {
//     /* BASE COLORS */
//     --color-1:  #ffe1d1;
//     --color-2: #ffdbca;
// }

body {
  font-family: Alegreya, serif;
}
/* CSS best practices 

    Box (position, display, width, margin, etc.)
    Text
    Background
    Border
    Other (Alphabetically)
*/


//Header
.header {
  //setting up first grid. 
  display: grid;
  grid-template-columns: 20% 1fr;
  align-content: center;
  font-weight: bold;
  font-size: 20px;
}

.header-logo {
  align-self: center;
  justify-self: center;
}

.header-letter {
  font-size: 30px;
  color: #6a4a39;
}

.menu {
   // setting up flexbox for menu
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.7;
  list-style: none; 
  &-item {
    margin: 0 47px;
  }
}

.menu-item:last-of-type {
  color: #ff7676;
  border-bottom: 4px solid #f8d1be;
}

